<!DOCTYPE html>
<html>
<head>
	<title>my backbone booklibrary</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/screen.css">
</head>

	<body>

		<!-- form starts  -->
		<div class="section">
			<div id="books">
			<form class="bookForm">
				<input type="file"/>
				<label for="title">title</label><input id="title" type="text"/>
				<label for="releaseDate">releaseDate</label><input id="releaseDate" type="releaseDate"/>
				<label for="author">author</label><input id="author" type="text"/>
				<label for="keywords">keywords</label><input id="keywords" type="checkbox"/>
			</form>
			<button id="add">+</button>

			</div>
		</div>


		<!-- template script starts  -->
			<script id="booktemplate" type="text/template">
				<div class="section">

						<ul>
							<li><%= title %></li>
							<li><%= releaseDate %></li>
							<li><%= author %></li>
							<li><%= keywords %></li>
						</ul>
				</div>
				<button class="delete">Delete</button>
			</script>

			<!-- scripting files in js folder  -->
			<!-- the javascript developer dependency file stack is always from the order top to bottom in which the dependent files are always included at the top and the main file is always included at the bottom -->
			<script type="text/javascript" src="./jquery/dist/jquery.min.js"></script>
			<script type="text/javascript" src="./underscore/underscore-min.js"></script>
			<script type="text/javascript" src="./backbone/backbone-min.js"></script>
			<script type="text/javascript" src="/js/models/book.js"></script>
			<script type="text/javascript" src="/js/collections/library.js"></script>
			<script type="text/javascript" src="/js/views/book-view.js"></script>
			<script type="text/javascript" src="/js/views/library-view.js"></script>
			<script type="text/javascript" src="/js/app.js"></script>


	</body>
</html>
